body {
    background-color: #eee;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: justify;
}

main {
    border: 2px solid #999;
    border-radius: 10px;
    width: 600px;
    margin: auto;
    padding: 20px;
}

header {
    border: 2px solid #999;
    height: 150px;
    margin-bottom: 10px;
}

nav {
    border: 2px solid #999;
    margin-bottom: 10px;
}

section {
    border: 2px solid #999;
    margin-bottom: 10px;
    padding: 20px;
    width: 400px;
    float: left;
}

aside {
    border: 2px solid #999;
    margin-bottom: 10px;
    width: 152px;
    float: right;
}

footer {
    border: 2px solid #999;
    margin-bottom: 10px;
}

